{%- extends "./common/base.html" -%}
{%- block content -%}
<div class="spacing-bottom bg-white">
  <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
    <div class="thumbnail">
      <a href="/{{lang}}/constructed_vintage/">
        <h4>{{body.vintage}}</h4>
      </a>
    </div>
    <div class="thumbnail">
      <h5>{{body.current_meta}}</h5>
      <div id="pieDivvintage" class="pieChartDiv"></div>
    </div>
    <div id="decklist" class="thumbnail" style="display:none;">
      <div id="decklistTable" class="row table-margin-custom"></div>
    </div>
    <div id="serialThumbDiv" class="thumbnail">
      <div id="serialDivvintage" class="serialChartDiv"></div>
    </div>
  </div>
</div>
{% endblock %}