<!DOCTYPE html>
<html>
  <head>
    {%- include "./common/head.html" -%}
  </head>
  <body>
    <div class="container">
      <div class="row spacing-bottom">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          {% include "./common/header.html" %}
        </div>
        <div class="col-md-2 col-lg-2 hidden-xs hidden-sm side-menu-block">
          <div class="bg-white">{% include "./common/side_menu.html" %}</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 both-side-no-pad">
          {% block content %}{% endblock %}
        </div>
        <div class="to_right float-right col-xs-12 col-sm-12 col-md-10 col-lg-10 mb12">
          {%- include "./common/footer_api.html" -%}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row bg-white line spacing-bottom"></div>
      <footer class="footer">
        <div class="row">
          {%- include "./common/footer.html" -%}
        </div>
      </footer>
    </div>
  </body>
  <script src="{{'static/js/jquery-3.0.0.min.js'|versioned}}"></script>
  <script src="{{'static/js/jquery-ui.min.js'|versioned}}"></script>
  <script src="{{'static/js/popper.min.js'|versioned}}"></script>
  <script src="{{'static/js/bootstrap.min.js'|versioned}}"></script>
  <script src="{{'static/js/bootstrap-custom.js'|versioned}}"></script>
  <script src="{{'static/js/click-counter.js'|versioned}}" defer="defer"></script>
  <script src="{{'static/js/ga.js'|versioned}}"></script>
  <script src="{{'static/js/md5.js'|versioned}}"></script>
  {%- if include_js is not none -%}
    {%- for js in include_js -%}
      {% set src = 'static/js/' + js.js %}
  <script src="{{src|versioned}}" {% if js.param %}{{js.param}}{% else %}{% endif %}></script>
    {% endfor %}
  {% endif %}
  {%- if additional_scripts is not none -%}
    {%- for chart in additional_scripts -%}
  <script defer="defer">{{chart|safe}}</script>
    {% endfor %}
  {% endif %}
</html>
